.signup-container{
    display: flex;
    width: max(300px, 70%);
    flex-direction: column;
    background: white;
    height: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px -1px 5px rgb(115, 128, 243);
}

.signup-container > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.icons{
    justify-content: flex-end !important;
    font-size: clamp(0.8rem, 5vw, 1.5rem);
    cursor: pointer;
}

.icons > i{
    /* border: 1px solid ; */
    padding: 0.5rem;
    border-radius: 0.3rem;
    transition: all 0.1s ease-in-out;
}

.icons > i:hover{
    /* box-shadow: 1px 1px 2px inset, -1px -1px 2px inset; */
    color: white;
    background-color: black;
}

.text-body{
    padding-block: 1rem;
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.several-links{
    padding-block: 4rem;
    flex-direction: column;
    gap: 1rem;
}

.msg-text{
    padding-block: 2rem;
}

.msg-text >  span{
    color: green;
    font-weight: 700;
    font-size: 0.9rem;
    cursor: pointer;
}