.heading-container{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 1rem;
}

.header-title{
    width: 70%;
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 1rem;
}
.header-subTitle{
    width: 70%;
    font-size: clamp(0.9rem, 5vw, 1.5rem);
    font-weight: 500;
    color: gray;
}

@media screen and (max-width: 768px) {
    .header-title, .header-subTitle {
        width: 100%;
    }
}