.modal-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    top: 20dvh;
    left: 10%;
    right: 10%;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(152, 151, 151, 0.466);
}

@media screen and (max-width: 578px) {
    .modal-container{
        left: 1rem;
        right: 1rem;
        padding: 1rem;
    }
}


.input-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-box > label{
    font-size: 1.2rem;
    letter-spacing: 3px;
    font-weight: 600;
}
.input-box > .inputElement{
    padding: 0.8rem;
    border: 1px solid;
    outline: none;
    border-radius: 0.5rem;
}



.inputElement:focus{
    border-color: blue;
} 


.button-container{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    padding-inline: 1rem;
}